*{
    margin:0px;
    padding:0px;
}
.wrapper{
    height:auto;
    overflow:hidden;
    position:relative;
    background:#FFF url('../images/landing-bg-2.png') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/landing-bg-2.png',     sizingMethod='scale');
    -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/landing-bg-2.png', sizingMethod='scale');
    padding:70px 0px 100px 0px;
    
}
.container{
    width:1060px;
    height:810px;
    margin: 0px auto;
    position:relative;
    top:20px;
    z-index:2;
    background:url('../images/landing-container-2.png') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/landing-container-2.png',     sizingMethod='scale');
    -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/landing-container-2.png', sizingMethod='scale');
}
.span-cam-on{
    width:340px;
    display:block;
    font-style:italic;
    color:#222222;
    position:absolute;
    right:50px;
    top:425px;
    font-size:16px;
}
.span-cam-on::before{
    left:-18px;
    top:10px;
    content: "";
    width:13px;
    height:11px;
    display:block;
    background:url('../images/img-nhay-trai.png');
    position:relative;
}
.span-cam-on::after{
    left:250px;
    top:-10px;
    content: "";
    width:13px;
    height:11px;
    display:block;
    background:url('../images/img-nhay-phai.png');
    position:relative;
}
.share{
    width:56px;
    height:174px;
    position:absolute;
    right:-54px;
    top:12px;
    
}
.share li{
    width:56px;
    height:56px;
    display:block;
    background: url('../images/img-list-share.png') no-repeat;
}
.share li:nth-child(2){
    background-position:0px -57px;
}
.share li:last-child{
    background-position:0px -115px;
}
.share li:hover{
    -ms-transform: scale(1.1,1); /* IE 9 */
    -webkit-transform: scale(1.1,1); /* Safari */
    transform: scale(1.1,1)  translateX(2px);
}
.share li a{
    width:56px;
    height:56px;
    display:block;
}



.aff-slide{
    width:620px;
    height:190px;
    position:absolute;
    bottom:75px;
    right:45px;
}
.bg-bottom{
    width:100%;
    height:30%;
    background: #000;
    opacity:0.4;
    position:absolute;
    bottom:0px;
}



/**
 * Slide
 */

.jssorb01 {
    position: absolute;
}

.jssorb01 div, .jssorb01 div:hover, .jssorb01 .av {
    position: absolute;
    /* size of bullet elment */
    width: 12px;
    height: 12px;
    filter: alpha(opacity=70);
    opacity: .7;
    overflow: hidden;
    cursor: pointer;
    border: #000 1px solid;
}

.jssorb01 div {
    background-color: gray;
}

    .jssorb01 div:hover, .jssorb01 .av:hover {
        background-color: #d3d3d3;
    }

.jssorb01 .av {
    background-color: #fff;
}

.jssorb01 .dn, .jssorb01 .dn:hover {
    background-color: #555555;
}
.jssora05l, .jssora05r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: url(../img/a17.png) no-repeat;
    overflow: hidden;
}
.jssora05l { background-position: -10px -40px; }
.jssora05r { background-position: -70px -40px; }
.jssora05l:hover { background-position: -130px -40px; }
.jssora05r:hover { background-position: -190px -40px; }
.jssora05l.jssora05ldn { background-position: -250px -40px; }
.jssora05r.jssora05rdn { background-position: -310px -40px; }

.list-slide{}
.item{
    width:175px;
    height:38px;
    display:block;
    text-align:center;
    margin: 0px 0px 25px 30px;
    float:left;
    position:relative;
    top:-5px;
}
.aff-rank{
    width:30px;
    float:left;
    margin-left:15px;
    color:#fcac00;
    font-family:Tahoma;
    font-size:18px;
    font-weight:bold;
    position:relative;
    top:10px;
}
.aff-name{
    float:left;
    color:#fcac00;
    font-family:Tahoma;
    font-size:18px;
    font-weight:bold;
    position:relative;
    top:10px;
}
.aff-price{
    color:#FFF;
    font-family:Tahoma;
    font-size:18px;
    font-weight:bold;
}